.destBox {
  border: solid thin black;
  height: 120px;
  width: 160px;
}

.App {
  text-align: center;
}

.partRow {
  border: solid thin red;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
