.destBox {
  border: solid thin black;
  height: 120px;
  width: 160px;
}

.App {
  display: flex;
  flex-direction: row;
}

.partRow {
  border: solid thin red;
}

.partGrid {
  width: 50%;  
  background: tan;
}

.destGrid {
  position: relative;
  width: 50%;
  background: grey;
}

#headDest {
  position: relative;
  left: 39%;
  top: 5%;
}

#torsoDest {
  position: relative;
  left: 35%;
  top: 5%;
  width: 30%;
  height: 40%;
}

#arm1Dest {
  position: relative;
  width: 10%;
  height: 45%;
  left: 25%;
  top: -35%;

}
#arm2Dest {
  position: relative;
  width: 10%;
  height: 45%;
  left: 65%;
  top: -80%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
